.form-container {
   border: 2px dashed rgba(var(--muted), 0.7) !important;
   transition: all 0.1s ease-in-out;
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;

   &:hover {
      border-color: rgb(var(--primary)) !important;
   }
}

.form-error {
   color: rgb(var(--danger));
   font-size: 0.85rem;
}