/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Main Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

h1 {
  font-weight: 500;
  font-size: 32px;
}

.btn {
  background: #3b82f6;
  padding: 12px 4px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  background: #357fdc;
}

.btn:active {
  scale: 0.99;
}

.btn:disabled {
  scale: 1;
  background-color: #357fdc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.error {
  margin-top: 8px;
  font-size: 14px;
  color: #ef0008;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  max-width: 640px;
  margin: auto;
  height: 100dvh;
  overflow: hidden;
}

.complaints-header {
  margin: 32px 12px 0;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
}

.complaints-button {
  border-radius: 999px;
  padding: 16px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3b82f6;
  color: #ffffff;
  border: none;
  box-shadow: #6a8cb7 0px 2px 4px;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.complaints-button:hover {
  background: #357fdc;
}

.complaints-button:active {
  scale: 0.95;
}

/* Form style */
.complaint-form-section {
  height: 100vh;
  z-index: 10;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.complaint-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.complaint-form-section > div > * {
  max-width: 640px;
  width: 100%;
}

.complaint-form-header {
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}

.complaint-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complaint-title {
  padding: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 24px;
  outline: none;
}

.complaint-body {
  padding: 16px;
  height: 40vh;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  resize: none;
  outline: none;
}

.complaint-title,
.complaint-body {
  transition: border 400ms ease-in-out;
}

.complaint-body:focus,
.complaint-title:focus {
  border: 1px solid #a0a0a0;
}

.error-input {
  border-color: #ef0008;
}

/* Form button group style -> submit, cancle */
.button-group {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.button-group > button {
  width: 100%;
  transition: background 150ms ease-out;
}

.button-group > button:last-child {
  border: 1px solid #e2e8f0;
  background: #f9f9f9;
  color: black;
}

.button-group > button:last-child:hover {
  background: #f0f0f0;
}

/* Success message style */
.success-screen-container {
  display: flex;
  height: 100svh;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;

  animation: popin 500ms ease-out;
}

.success-icon {
  height: 52px;
  width: 52px;
  color: #1fc424;
}

@keyframes popin {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

/* List style */
.complaints-list {
  height: 85svh;
  padding: 4px 12px;
  overflow-y: auto;
}

.no-complaints {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 32px;
}

/* Loader style */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: spin 1s infinite;
}
@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}

/* Complaint card style */
.card {
  margin: 12px 0px;
  padding: 12px 16px;
  height: fit-content;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: #e2e8f0 0px 1px 4px;
  cursor: pointer;
  scale: 1;
  overflow: hidden;

  transition:
    scale 100ms ease-out,
    background 200ms ease-in;

  -webkit-tap-highlight-color: transparent;
}

.card:hover {
  background: #f8fafa;
}

.card:active {
  scale: 0.99;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--color);
  scale: 0;
  transition: 300ms ease-in-out;
}

.card:hover::before {
  scale: 1;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 4px;
  position: relative;
}

.card-content {
  color: #1a1a1a;
  word-wrap: break-word;
}

/* Responsive style */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .complaints-button {
    padding: 8px;
  }

  .no-complaints {
    font-size: 16px;
  }

  .card {
    margin: 4px 0px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-content {
    font-size: 14px;
  }

  .complaint-form-section {
    margin: 0;
    padding: 0;
  }

  .complaint-form-container {
    padding: 12px;
  }

  .complaint-form-header {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .complaint-title {
    font-size: 18px;
  }

  .complaint-body {
    font-size: 14px;
  }

  .error {
    font-size: 12px;
  }

  .button-group {
    margin-top: 4px;
    flex-direction: column;
  }

  .success-screen-container {
    z-index: 10;
    inset: 0;
    background-color: #ffffff;
    position: fixed;
    text-align: center;
    font-size: 14px;
  }
  .success-screen-container > p {
    max-width: 240px;
  }
}
