/* index.css */

.main-container {
  background: linear-gradient(135deg, #a66eef, #00b7ff);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

/* Complaint List Heading */
#complaint-list-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  word-break: break-word;
}

/* Complaint List */
.complaints-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.complaint-box {
  background-color: #ffffff14;
  background: linear-gradient(to bottom right, rgba(255,255,255,0.08), rgba(255,255,255,0.1));
  padding: 16px 20px;
  border-radius: 18px;
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  word-break: break-word;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.complaint-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
}

.complaint-title {
  font-size: 1.1rem;
  font-weight: bold;
 
}