@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --body-text: #1b263b;
  --primary: #646cff;
  --primary-dark: #535bf2;
  --muted: #797f86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b263b;
    --body-text: #f8f9fa;
    --muted: #a1a6aa;
  }
}

@theme {
  --color-background: var(--background);
  --color-body-text: var(--body-text);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-muted: var(--muted);
  --font-primary: "Open Sans", sans-serif;
}

@layer utilities {
  body {
    @apply bg-background text-body-text font-primary;
  }

  input,
  textarea {
    @apply p-2 rounded-md border-1 border-muted/30 outline-none transition-all duration-300 hover:border-1 hover:border-primary active:scale-95 focus:border-1 focus:border-primary;
  }

  .btn {
    @apply bg-primary py-2 rounded-md cursor-pointer not-disabled:hover:bg-primary-dark disabled:opacity-85 disabled:cursor-not-allowed text-white font-semibold active:scale-95 transition-all;
  }

  .card {
    @apply flex flex-col gap-2 max-w-md border border-muted/20 rounded-md p-2 md:p-5 min-h-32;
  }
}