@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  /* font family */
  --roboto: "Roboto", serif;

  --primary: #ffffff;
  --primary-light: #93c5fd;
  --danger: #e7dadb;
  --bg-light: #fafafa;
  --border: #ddd;
  --radius: 25px;
  --font-base: 1rem;
  --font-sm: 0.9rem;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  --bgGradient: linear-gradient(
    to right top,
    #051c3b,
    #00507c,
    #008995,
    #00bf73,
    #a5eb14
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
}

body,
html {
  margin: 0 auto;
  font-family: var(--roboto);
  font-optical-sizing: auto;
  color: var(--textDark);
  background: var(--bgGradient);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}
